/*
    Intro
    ==============================================
*/
.intro {
    width: 100%;
    margin: 0;
    background: rgb(207, 0, 0) url('../images/intro-bg-0.svg');
    border-bottom: 2px solid #fff;
    color: #fff;
}

.intro > .motto {
    /*TODO Make this device sensitive using @media so it splits properly when window is resized?*/
    margin: 60px auto;
}

.intro > .motto > h1 {
    font-weight: 100;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-align: center;
}

/* Vertical align to middle of the logotype */
.intro > .motto .logotype:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.intro > .motto .logotype {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-left: 50px;
    background: transparent url('../images/logotype-bg.svg') no-repeat;
    text-align: center;
    vertical-align: middle;
}



/*
    Sections
    ==============================================
*/
/* Substitutes default Bootstrap's .container to get a full-width layout */
.container-fw {
    width: 100%;
    padding: 0 15px;
}

.heading {
    padding-bottom: 12px;
    margin-top: 70px;
    margin-bottom: 26px;
    /*border-bottom: solid 1px rgb(207, 0, 0);*/
    color: rgb(207, 0, 0);
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    /*text-align: center;*/
}

/* Needed to handle in-site navigation properly due to fixed navbar */
.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -102px;
}

.img-section {
    margin: 0;
}

/* B-FIX Insert missing margins due to .container-fw substituting default .container*/
.row {
    padding: 50px 100px;
}

.section-grayed {
    background: #f5f5f5 url('../images/section-bg-0.svg');
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
}

/* FIX - Margins are specified in sections */
address {
    margin: 0;
}

/* Hide home section so it participates in scrollspy invisibly */
.section-home {
    visibility: hidden;
}

/*
    Navigation bar
    ==============================================
*/
/* Required for sticky navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.navbar {
    margin-bottom: 0; /* B-FIX Needed when using .container-fw class */
    border-top: solid 2px rgb(207, 0, 0);
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/* B-FIX Align Rubrica logotype properly */
.navbar-brand {
    padding: 15px 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(207, 0, 0);
}

/* Form red rectangles over active navigation item */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(207, 0, 0);
    color: #ffffff;
}



/*
    Footer
    ==============================================
*/
footer {
    margin: 25px 0;
}



/*
    Tables
    ==============================================
*/
/* Center table and auto-align width to content */
.table-nonfluid {
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}



/*
    Lists
    ==============================================
*/
.row ul > li {
    list-style: none;
}

/* Coloured bullet points */
.row ul > li:before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    position: relative;
    top: -4px;
    margin-right: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: rgb(207, 0, 0);
    /*background-clip: padding-box;*/
    /*-moz-background-clip: padding;*/
    /*-webkit-background-clip: padding-box;*/
}

/* Coloured numbered list */
.row ol {
    list-style: none;
    counter-reset: i 0;
    margin-left: 1em;
    text-indent: -1.4em;
}

/* Imitate default-bullet's margin */
.row ol > li:before {
    padding-right: 0.5em;
    content: counter(i) '.';
    counter-increment: i;
    color: rgb(207, 0, 0);
}

/* Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com */
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; }

.webicon:hover {
  /*margin: -1px 0 1px;*/
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.no-svg .webicon.facebook {
  background: url("../images/social/webicon-facebook-m.png"); }

.no-svg .webicon.facebook.large {
  background: url("../images/social/webicon-facebook.png"); }

.no-svg .webicon.facebook.small {
  background: url("../images/social/webicon-facebook-s.png"); }

.webicon.facebook {
  background: url("../images/social/webicon-facebook.svg"); }

.no-svg .webicon.linkedin {
  background: url("../images/social/webicon-linkedin-m.png"); }

.no-svg .webicon.linkedin.large {
  background: url("../images/social/webicon-linkedin.png"); }

.no-svg .webicon.linkedin.small {
  background: url("../images/social/webicon-linkedin-s.png"); }

.webicon.linkedin {
  background: url("../images/social/webicon-linkedin.svg"); }

.no-svg .webicon.googleplus {
  background: url("../images/social/webicon-googleplus-m.png"); }

.no-svg .webicon.googleplus.large {
  background: url("../images/social/webicon-googleplus.png"); }

.no-svg .webicon.googleplus.small {
  background: url("../images/social/webicon-googleplus-s.png"); }

.webicon.googleplus {
  background: url("../images/social/webicon-googleplus.svg"); }
