body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}



/*
    Intro
    ==============================================
*/
.intro {
    width: 100%;
    margin: 0;
    background: rgb(207, 0, 0) url('../images/intro-bg-0.svg');
    border-bottom: 2px solid #fff;
    color: #fff;
}

.intro > .motto {
    /*TODO Make this device sensitive using @media so it splits properly when window is resized?*/
    margin: 50px auto;
}

.intro > .motto > h1 {
    font-family: 'Helvetica Neue', 'Open Sans Condensed', Helvetica, sans-serif !important;
    font-weight: 100;
    font-size: 3em;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Vertical align to middle of the logotype */
.intro > .motto .logotype:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.intro > .motto .logotype {
    display: inline-block;
    height: 190px;
    width: 190px;
    margin-left: 50px;
    background: transparent url('../images/logotype-bg.svg') no-repeat;
    text-align: center;
    vertical-align: middle;
}



/*
    Sections
    ==============================================
*/
/* Substitutes default Bootstrap's .container to get a full-width layout */
.container-fw {
    width: 100%;
    padding: 0 15px;
}

.heading {
    padding-bottom: 12px;
    margin-top: 70px;
    margin-bottom: 26px;
    color: rgb(207, 0, 0);
    font-family: 'Open Sans Condensed', Helvetica, sans-serif !important;
    font-weight: 300 !important;
}

/* Needed to handle in-site navigation properly due to fixed navbar */
.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -102px;
}

.img-section {
    margin: 0;
}

/* B-FIX Insert missing margins due to .container-fw substituting default .container*/
.row {
    padding: 50px 125px;
}

.section-grayed {
    background: #f5f5f5 url('../images/section-bg-0.svg');
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
}

/* FIX - Margins are specified in sections */
address {
    margin: 0;
}

/* Hide home section so it participates in scrollspy invisibly */
.section-home {
    visibility: hidden;
}



/*
    Headers
    ==============================================
*/
h3.lead {
    font-weight: 400 !important;
}



/*
    Navigation bar
    ==============================================
*/
/* Required for sticky navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.navbar {
    margin-bottom: 0; /* B-FIX Needed when using .container-fw class */
    border-top: solid 2px rgb(207, 0, 0);
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/* B-FIX Align Rubrica logotype properly */
.navbar-brand {
    padding: 15px 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(207, 0, 0);
}

/* Form red rectangles over active navigation item */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(207, 0, 0);
    color: #ffffff;
}

.navbar-default ul.nav {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}



/*
    Footer
    ==============================================
*/
footer {
    margin: 25px 0;
}



/*
    Tables
    ==============================================
*/
/* Center table and auto-align width to content */
.table-nonfluid {
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}



/*
    Lists
    ==============================================
*/
.row ul > li {
    list-style: none;
}

/* Coloured bullet points */
.row ul > li:before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    position: relative;
    top: -4px;
    margin-right: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: rgb(207, 0, 0);
    /*background-clip: padding-box;*/
    /*-moz-background-clip: padding;*/
    /*-webkit-background-clip: padding-box;*/
}

/* Coloured numbered list */
.row ol {
    list-style: none;
    counter-reset: i 0;
    margin-left: 1em;
    text-indent: -1.2em;
}

/* Imitate default-bullet's margin */
.row ol > li:before {
    padding-right: 0.5em;
    content: counter(i) '.';
    counter-increment: i;
    color: rgb(207, 0, 0);
}

/*
    Lists
    ==============================================
*/
a, a:hover {
    color: rgb(207, 0, 0);
}
